<div class="bg2">
<section class="wdblock">
	<img src="img/img-720.jpg" class="new-pic"/>
</section>
<section class="loginblock" >
<form name="userForm" novalidate="novalidate">
	<div class="i-f"><img src="img/icon-user.png"/>
	<input name="username" ng-model="username" type="text" placeholder="用户名" required="required"/>
	</div>
	<div class="i-f"><img src="img/icon-password.png"/>
	<input name="password" ng-model="password" type="password" placeholder="密码" required="required"/>
	</div>
</form>
	<p class="txt-3 clearfix"><a ng-click="$location.path('/zhuce')" href="" class="l">注册</a><a href="javascript:tipmessage('请联系');" class="r">忘记密码</a></p>
	<a ng-click="login()" href="" class="abtn-login">登陆</a>
	<p class="txt-4">www.gdcg.com.cn<br/>广东交通集团有限公司<br/>交通运输部公路科学研究院<br/>联合出品</p>
</section>
</div>