<div class="bg2">
<section class="wdblock">
	<img src="img/img-720.jpg" class="new-pic"/>
</section>
<section class="loginblock" >
<form name="userForm" novalidate="novalidate">
	<div class="i-f"><img src="img/icon-user.png"/>
	<input name="username" ng-model="username" type="text" placeholder="账户（姓名）" required="required"/>

	</div>
	<div class="i-f"><img src="img/icon-password.png"/>
	<input name="password" ng-model="password" type="password" placeholder="密码" required="required"/>
	</div>
</form>
	<p class="txt-3 clearfix"><a ng-click="$location.path('/zhuce')" href="" class="l">注册</a><a href="javascript:tipmessage('请联系管理人员');" class="r">忘记密码</a></p>
	<a ng-click="login()" href="" class="abtn-login">登陆</a>
	<p class="txt-4">www.gdcg.com.cn<br/>广东交通集团有限公司<br/>交通运输部公路科学研究院<br/>联合出品</p>
</section>
<!--pop window-->
<div id="zoomscrollblock">
    <div id="zoomscroll" class="pop_catewindow" onclick="return false;">
        <div class="i-block20151214-6" style="width:300px;height:220px;margin-top:-58px;margin-left:-160px;padding-left:10px;padding-right:10px;">
			<p class="txt-24">发现新版本{{setting.currentVersion}}，点击确认安装</p>
			<div >
			<textarea ng-model="setting.versionRemark" cols="" rows="6" class="fromarea" style="width:100%;"  readonly="true"/>
			</div>
			<div class="line-1"></div>
			<p class="txt-25" style="align:center;position:relative;width:100%;margin-left:25%;"><a href="" ng-click="onInstall()">确定</a></p>
		</div>
    </div>
</div>
</div>