<div class="pb75 pt60 ng-scope">
<header class="bg1"><p class="title">痕迹</p></header>
<section class="mt15">
	<ul class="list-1">
		<li><a href="" ng-click="$location.path('/spotcheck-list')"><i><img src="img/hj_1.png"/></i>现场签认</a></li>
		<li><a href="" ng-click="popTempTip()"><i><img src="img/hj_2.png"/></i>成长过程</a></li>
		<li><a href="" ng-click="$location.path('/henji-zhiliang')"><i><img src="img/hj_3.png"/></i>质量记录</a></li>
		<li><a href="" ng-click="$location.path('/henji-gongchengjindu')"><i><img src="img/hj_4.png"/></i>工程进度</a></li>
		<li><a href="" ng-click="popTempTip()"><i><img src="img/hj_5.png"/></i>施工控制</a></li>
		<li><a href="" ng-click="$location.path('/henji-shangchuan')"><i><img src="img/hj_6.png"/></i>痕迹上传</a></li>
		<li><a href="" ng-click="popTempTip()"><i><img src="img/hj_7.png"/></i>扫一扫</a></li>
	</ul>
</section>
<nav>
	<a ng-click="$location.path('/sousuo', true)" href=""><span class="i1"></span>搜索</a>
	<a ng-click="$location.path('/henji', true)" href="" class="on"><span class="i2"></span>痕迹</a>
	<a ng-click="$location.path('/', true)" href=""><span class="i3"></span>首页</a>
	<a ng-click="$location.path('/faxian', true)" href=""><span class="i4"></span>发现</a>
	<a ng-click="$location.path('/wode', true)" href=""><span class="i5"></span>个人</a>
</nav>
</div>