<div class="pb75 pt60 ng-scope">
<header class="bg1"><p class="title">发现</p></header>
<section class="mt15">
	<ul class="list-1">
		<li><a ng-click="$location.path('/sousuo-single?id=808')" href=""><i><img src="img/icon-4.png"/></i>质量检评标准</a></li>
		<li><a ng-click="$location.path('/sousuo-single?id=809')" href=""><i><img src="img/icon-5.png"/></i>安全防控要素</a></li>
		<li><a ng-click="$location.path('/issues-feedback-quality')" href=""><i><img src="img/icon-6.png"/></i>质量问题反馈</a></li>
		<li><a ng-click="$location.path('/issues-feedback-safe')" href=""><i><img src="img/icon-7.png"/></i>安全问题反馈</a></li>
		<li><a ng-click="$location.path('/issues-feedback-material')" href=""><i><img src="img/icon-1.png"/></i>资料反馈</a></li>
		<li><a ng-click="$location.path('/redian')" href=""><i><img src="img/icon-8.png"/></i>热点</a></li>
		<li><a ng-click="$location.path('/gonggao')" href=""><i><img src="img/icon-9.png"/></i>公告</a></li>
		<li><a ng-click="$location.path('/xinwentupian')" href=""><i><img src="img/icon-10.png"/></i>新闻图片</a></li>
	</ul>
</section>
<nav>
	<a ng-click="$location.path('/sousuo', true)" href=""><span class="i1"></span>搜索</a>
	<a ng-click="$location.path('/henji', true)" href=""><span class="i2"></span>痕迹</a>
	<a ng-click="$location.path('/', true)" href=""><span class="i3"></span>首页</a>
	<a ng-click="$location.path('/faxian', true)" href="" class="on"><span class="i4"></span>发现</a>
	<a ng-click="$location.path('/wode', true)" href=""><span class="i5"></span>个人</a>
</nav>
</div>