<div class="pb75 pt60 ng-scope">
<header class="bg1"><p class="title">我的</p></header>
<section class="wdblock">
	<div class="d">
	<img ng-src="{{user.photo}}" class="person"/>
	<p class="name">{{user.name}}</p>
	</div>
	<img src="img/wd-bg.jpg" class="new-pic"/>
</section>
<section class="mt15">
	<ul class="list-1">
		<li><a ng-click="$location.path('/wode-gerenxinxi')" href=""><i><img src="img/icon-4.png"/></i>个人信息</a></li>
		<!-- li><a ng-click="$location.path('/shangchuanguanli')" href=""><i><img src="img/icon-20.png"/></i>上传管理</a></li-->
		<li><a ng-click="$location.path('/shiyongyijianfankui')" href=""><i><img src="img/icon-21.png"/></i>使用意见反馈</a></li>
		<li><a ng-click="$location.path('/shezhi')" href=""><i><img src="img/icon-22.png"/></i>设置</a></li>
	</ul>
</section>
<nav>
	<a ng-click="$location.path('/sousuo', true)" href=""><span class="i1"></span>搜索</a>
	<a ng-click="$location.path('/henji', true)" href=""><span class="i2"></span>痕迹</a>
	<a ng-click="$location.path('/', true)" href=""><span class="i3"></span>首页</a>
	<a ng-click="$location.path('/faxian', true)" href=""><span class="i4"></span>发现</a>
	<a ng-click="$location.path('/wode', true)" href="" class="on"><span class="i5"></span>个人</a>
</nav>
</div>