<div class="pb75 pt60 ng-scope">
<header class="bg1">
<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
<p class="title">个人信息</p>
</header>
<section class="mt15 mlr10">
	<ul class="list-8">
		<li>
			<a ng-if="!usingCamera" href="javascript:void(0);" class="clearfix">
				<input onchange="angular.element(this).scope().imgChanged(this)" type="file" accept="image/*" class="c-person"/>
				<span class="l">头像</span><span class="r"><img ng-src="{{user.photo}}" class="i"/></span>
			</a>
			<a ng-if="usingCamera" class="clearfix">
				<span class="l">头像</span><span class="r"><my-media-selector src="{{user.photo}}" class="i" type="img" change="imageChanged($uri)"></my-media-selector></span>
			</a>
		</li>
		<li>
			<a ng-click="$location.path('/wode-gerenxinxi-xingming')" href="" class="clearfix">
				<span class="l">姓名</span><span class="r">{{user.name}}</span>
			</a>
		</li>
		<li class="nojian">
			<a class="clearfix">
				<span class="l">所在单位</span><span class="r">{{::user.department}}</span>
			</a>
		</li>
		<li class="nojian">
			<a class="clearfix">
				<span class="l">角色权限</span><span class="r">{{::user.roles[0].name}}</span>
			</a>
		</li>
		<li>
			<a ng-click="$location.path('/wode-gerenxinxi-xiugaimima')" href="" class="clearfix">
				<span class="l">修改密码</span><span class="r"><img src="img/i-passwprd.png" class="i1"/></span>
			</a>
		</li>
	</ul>
</section>
</div>