<div class="pb75 pt60 ng-scope">
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title">上传管理列表</p>
</header>
<section class="mt10 mlr10">
	<ul class="list-9">
		<li class="clearfix" ng-repeat="task in tasks">
		<a ng-click="detail(task)" href="">
			<span class="title">{{::task.title}}<i class="{{(task._status || 'o1')}}">{{(task._statusText || '未上传')}}</i></span>
			<span class="txt" style="word-break:break-all;">{{::task.content}}</span>
			<span class="time time1">{{::formatDate(task._time)}}</span>
		</a>
		</li>
	</ul>
</section>

<!--message tip-->
<div class="mtip" style="display:{{tipVisibility}};">上传成功</div>

<!--popwindow-->
<div id="zoomscrollblock">
	<div id="zoomscroll" class="pop_catewindow {{loadedClass}}" ng-click="closeDetail">
		<div id="zoom">
		</div>
	</div>
	<div class="online-blockmessage-1" style="display:{{detailVisibility}};">
		<div class="ob">
			<div class="tb">
				<p class="title">{{current.title}}</p>
				<p class="txt">{{current.content}}</p>
			</div>
			<ul>
				<li><a ng-click="xiangqing()"href="">详情</a></li>
				<li><a ng-click="transfer()" href="">上传</a></li>
				<li><a ng-click="remove()" href="">删除</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
