<div>
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title">意见反馈</p>
	<span ng-click="feedbackCommit()" class="nochoose" style="cursor:pointer;">提交</span>
</header>
<section class="mt10">
	<ul class="list-3">
		<li class="clearfix">
			<span class="l"><img src="img/icon-23.png"/>标题</span><span class="r"><input ng-model="feedbackTitle" type="text" class="fromtxt" placeholder="请输入标题"/></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/icon-24.png"/>内容</span><span class="r"><textarea ng-model="feedbackContent" class="fromarea" placeholder="请输入内容"></textarea></span>
		</li>
	</ul>
</section>
<div class="mtip" style="display:{{tipVisibility}};">提交成功，谢谢您！</div>
</div>