<div class="pb75 pt60 ng-scope">
<header class="bg1">
	<span class="return"><a ng-click="historyClick()" href=""><img src="img/11.png"/></a></span>
	<p class="title">{{currentItem.name}}</p></header>
<section class="mlr10 mt15 bg2">
<span ng-repeat="it in data| filter: myFilter" style="margin-bottom:10px;">
	<span class="lll"><a href="" ng-click="dataClicked(it.id)"><i><img src="img/icon-18.png"/></i>
		<span ng-bind-html="it.name"></span></a></span>
	<div class="warp" ng-if="it.isLeaf">
    	<p class="tp" ng-repeat="(key, val) in it.children">
        <span>{{key}}</span>{{val}}</p>
    	</div>	
</span>
</section>
