<div class="pt60">
<!--header-->
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title">成长过程</p>
	<span class="txt1"><a ng-click="save()" href="">保存</a></span><span class="nochoose"><a ng-click="submit()" href="">提交</a></span>
</header>
<section class="mt10">
	<ul class="list-3">
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-14.jpg"/>标题</span>
			<span class="r">
				<input type="text" ng-model="newItem.title" class="fromtxt" placeholder="您还可以输入150个字符"/>
			</span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-1.jpg"/>构件编码</span>
			<span class="rr" ng-if="canScan">{{newItem.compId}}</span><span class="ll" ng-if="canScan"><a ng-click="scan()" href=""><img src="img/scan.png"/></a></span>
			<span class="r" ng-if="!canScan"><input ng-model="newItem.compId" class="fromtxt" placeholder="请输入构件编码" onchange="angular.element(this).scope().onCompIdChange()"/></span>
		</li>
		<li class="clearfix">
			<span class="t"><img src="img/i-xq-2.jpg"/>构建信息</span>
            <div class="warp">
	            <p class="tp"><span>名称：</span>{{newItem.component.name}}</p>
	            <p class="tp"><span>设计：</span>{{newItem.component.designer}}</p>
	            <p class="tp"><span>施工：</span>{{newItem.component.constructor}}</p>
	            <p class="tp"><span>监理：</span>{{newItem.component.supervisor}}</p>
            </div>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-3.jpg"/>工序</span>
			<span class="r"><input type="text" ng-model="newItem.contentText" class="fromtxt" placeholder="您还可以输入150个字符"/></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-5.jpg"/>相片</span>
			<span class="r pr">
				<span ng-repeat="pic in newItem.picAttachmentList" class="pic" style="margin-right:5px;">
					<img ng-src="{{pic.thumbnailUrl}}" style="width:100%; vertical-align:bottom;margin-bottom:0;" my-touch-remove="removeImage(pic.fileUrl)"/>
				</span>
				<my-media-selector src="img/i-jia.jpg" class="pic" type="img" change="imageChanged($uri)"></my-media-selector>
			</span>
		</li>
	</ul>
</section>
</div>
