<div class="pb75 pt60 ng-scope">
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title">监控月报</p></header>
<section class="mt15">
	<ul class="list-1">
		<li><a href="" ng-click="fileClicked('localfiles/2015_12.pdf')"><i><img src="img/icon-18.png"/></i>施工监控2015年12月份监控月报第1期的报告</a></li>
		<li><a href="" ng-click="fileClicked('localfiles/2016_1_1.pdf')"><i><img src="img/icon-18.png"/></i>施工监控2016年1月份监控月报第1期的报告</a></li>
		<li><a href="" ng-click="fileClicked('localfiles/2015_1_2.pdf')"><i><img src="img/icon-18.png"/></i>施工监控2016年1月份监控月报第2期的报告</a></li>
		<li><a href="" ng-click="fileClicked('localfiles/2015_2.pdf')"><i><img src="img/icon-18.png"/></i>施工监控2016年2月份监控月报的报告</a></li>
		<li><a href="" ng-click="fileClicked('localfiles/2015_3_11.pdf')"><i><img src="img/icon-18.png"/></i>施工监控2016年3月11号监控月报的报告</a></li>
		<li><a href="" ng-click="fileClicked('localfiles/2015_3_25.pdf')"><i><img src="img/icon-18.png"/></i>施工监控2016年3月25号监控月报的报告</a></li>
		<li><a href="" ng-click="fileClicked('localfiles/2015_4_26.pdf')"><i><img src="img/icon-18.png"/></i>施工监控2016年4月26号监控月报的报告</a></li>
	</ul>
</section>
</div>
