<div class="pt60 bg2">
<!--header-->
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"></a></span>
	<p class="title">扫一扫</p>
</header>
<section class="mlr10 mt15 bg2">
	<span class="lll"><img src="img/icon-2.png">构件属性</span>	
    <div class="warp">
    	<p class="tp"><span>编码：</span>{{newItem.component.compId}}</p>
        <p class="tp"><span>名称：</span>{{newItem.component.name}}</p>
        <p class="tp"><span>设计：</span>{{newItem.component.designer}}</p>
        <p class="tp"><span>施工：</span>{{newItem.component.constructor}}</p>
        <p class="tp"><span>监理：</span>{{newItem.component.supervisor}}</p>
        <p class="tp" ng-repeat="(key, val) in newItem.component.properties">
        <span>{{key}}：</span>{{val}}</p>
    </div>
    <span class="lll"><img src="img/icon-25.png">成长过程</span>	
    <ul class="list-2015-1-11">
		<li class="clearfix" ng-repeat="item in newItem.process track by item.id">
            <a href="" ng-click="">
                <span class="i"><img ng-src="{{::(item.publisherAvatarUrl || 'img/tem-img/img-person.jpg')}}"></span>
                <span class="r">
                    <span class="txt">{{::item.title|cutTail:false:10:" ..."}}</span><span class="title">{{::item.compId}}</span>
                </span>
                <span class="time">{{::formatDate(item.createTime)}} <span class="name">{{::item.publisherName}}</span></span>
            </a>
        </li>
    </ul>
    <span class="lll"><img src="img/icon-26.png">质量记录</span>	
    <ul class="list-2015-1-11">
		<li class="clearfix" ng-repeat="item in newItem.qualityRecord track by item.id">
            <a href="">
                <span class="i"><img ng-src="{{::(item.publisherAvatarUrl || 'img/tem-img/img-person.jpg')}}"></span>
                <span class="r">
                    <span class="txt">{{::item.title|cutTail:false:10:" ..."}}</span><span class="title">{{::item.compId}}</span>
                </span>
                <span class="time">{{::formatDate(item.createTime)}} <span class="name">{{::item.publisherName}}</span></span>
            </a>
        </li>
    </ul>
	<span class="lll"><img src="img/icon-1.png">现场签认</span>	
    <ul class="list-2015-1-11">
		<li class="clearfix" ng-repeat="item in newItem.spotcheck track by item.id">
            <a href="#.html">
                <span class="i"><img ng-src="{{::(item.publisherAvatarUrl || 'img/tem-img/img-person.jpg')}}"></span>
                <span class="r">
                    <span class="txt">{{::item.title|cutTail:false:10:" ..."}}</span><span class="title">{{::item.compId}}</span>
                </span>
                <span class="time">{{::formatDate(item.createTime)}} <span class="name">{{::item.publisherName}}</span></span>
            </a>
        </li>
    </ul>
</section>
</div>
