<div class="pt60">
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title">{{::trace.gongchengjindu.sectionName}} 进度月报</p>
	<span class="txt1"><a ng-click="save()" href="">保存</a></span><span class="nochoose"><a ng-click="submit()" href="">提交</a></span>
</header>
<section class="mt10">
<form name="form">
	<ul class="list-3">
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-14.jpg"/>标题</span>
			<span class="r"><my-title-picker ng-model="newItem.title" required></my-title-picker></span>
		</li>
		<li class="clearfix">
			<span class="t"><img src="img/i-xq-2.jpg"/>总体概况</span>
			<div style="border:1px solid #ccc;border-radius:5px;padding:10px;margin:5px;">
            <p class="tp1 clearfix">
            	<span class="l">合同额</span>
            	<span class="r" style="text-align:right;">{{::trace.gongchengjindu.contractAmount}}</span>
            </p>
            <p class="tp1 clearfix">
            	<span class="l">计划完成时间</span>
            	<span class="r" style="text-align:right;">{{::formatDate2Day(trace.gongchengjindu.endDate)}}</span>
            </p>
            <p class="tp1 clearfix">
            	<span class="l">时间燃烧</span>
            	<span class="r" style="text-align:right;">{{::trace.gongchengjindu.percentTime}}%</span>
            </p>
            <p class="tp1 clearfix">
            	<span class="l">本月计量</span>
            	<span class="r"><input ng-model="payment" ng-change="change()" type="number" class="fromtxt" placeholder="请输入本月计量值" style="ime-mode:disabled;text-align:right;"/></span>
            </p>
			<p class="tp1 clearfix">
				<span class="l">累计计量</span>
				<span class="r" style="text-align:right;">{{::trace.gongchengjindu.paymentTotal}}</span>
			</p>
			<p class="tp1 clearfix">
				<span class="l">工程完成率</span>
				<span class="r" style="text-align:right;">{{::trace.gongchengjindu.percentProject}}%</span>
			</p>
			</div>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-5.jpg"/>现场进度实景</span>
			<span class="r pr">
				<my-media-selector src="img/i-jia.jpg" class="pic" type="img" change="imageChanged($uri)"></my-media-selector>
				<div class="cb"></div>
			</span>
			<div class="clearfix" ng-repeat="pic in newItem.picAttachmentList" style="margin:10px;">
				<span class="l"><img ng-src="{{pic.thumbnailUrl}}" style="width:50px;height:50px;overflow:hidden;vertical-align:bottom;margin-bottom:0;" my-touch-remove="removeImage(pic.fileUrl)"/></span>
				<span class="r" style="margin-top:9px;"><input type="text" ng-model="pic.content" class="fromtxt" placeholder="请输入图片描述" style="text-align:right;"/></span>
			</div>
		</li>
	</ul>
	</form>
</section>
</div>
