<div class="pt60 bg2">
<!--header-->
<header class="bg1">
	<span class="return"><a href="javascript:history.go(-1);"><img src="img/11.png"></a></span>
	<p class="title">扫一扫</p>
</header>
<section class="mlr10 mt15 bg2">
	<span class="lll"><img src="img/icon-2.png">控件属性</span>	
    <div class="warp">
    	<p class="tp"><span>编码：</span>{{newItem.component.id}}</p>
        <p class="tp"><span>名称：</span>{{newItem.component.name}}</p>
        <p class="tp"><span>设计：</span>{{newItem.component.designer}}</p>
        <p class="tp"><span>施工：</span>{{newItem.component.constructor}}</p>
        <p class="tp"><span>监理：</span>{{newItem.component.supervisor}}</p>        
    </div>
    <span class="lll"><img src="img/icon-25.png">成长过程</span>	
    <ul class="list-2015-1-11">
		<li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
    </ul>
    <span class="lll"><img src="img/icon-26.png">质量记录</span>	
    <ul class="list-2015-1-11">
		<li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
    </ul>
	<span class="lll"><img src="img/icon-1.png">现场签认</span>	
    <ul class="list-2015-1-11">
		<li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span><span class="title">comp_xxx_122</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
    </ul>
</section>
</div>
