<div class="pb75 pt60 ng-scope">
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title">施工监控</p></header>
<section class="mt15">
	<ul class="list-1">
		<li><a href="" ng-click="$location.path('/henji-report')"><i><img src="img/icon-11.png"/></i>监控月报</a></li>
		<li><a href="" ng-click="dataClicked('1')"><i><img src="img/icon-7.png"/></i>大沙桥监控数据</a></li>
		<li><a href="" ng-click="dataClicked('2')"><i><img src="img/icon-7.png"/></i>坭洲桥监控数据</a></li>
	</ul>
</section>
</div>
