<div class="pb75">
<section class="wdblock">
	<img src="img/i-imgbg.jpg" class="new-pic"/>
	<section class="i-block-3 clearfix">
		<div class="l">最新公告<img src="img/icon-jian3.png"/></div>
		<a ng-click="$location.path('/gonggao')" href=""><img src="img/icon-jian4.png" class="ijian3"/></a>
		<div class="sliderbanner">
			<div id="owl-demo" class="owl-carousel owl-theme">
				<div ng-repeat="item in items" class="item">
					<a ng-click="notice.itemClick(item)" href=""><span class="{{::itemClass(item)}}">{{::(item.important || '普通')}}</span><span class="txt">{{::item.title}}</span><span class="com"><img src="img/i-commend.png" width="17" height="12"/>{{::item.totalCommentNum}}</span></a>
				</div>
			</div>
		</div>
	</section>
</section>

<section class="mlr10 mt10">
	<div class="i-block-2">
		<a ng-click="$location.path('/issues-feedback-quality')" href="" class="t1">
		<span ng-show="issues.first">{{issues.first.issueTitle}}</span>
		<span ng-hide="issues.first">工程质量事故的界定 ?</span>
		<i>质量问题</i></a>
		<a ng-click="$location.path('/issues-feedback-safe')" href="" class="t2">
		<span ng-show="issues.second">{{issues.second.issueTitle}}</span>
		<span ng-hide="issues.first">工程安全的监控与预防</span>
		<i>安全问题</i></a>
		<div class="rb">质量安全</div>
	</div>
</section>

<section class="mlr10 mt10">
	<div class="list-10block">
	<ul class="list-10 clearfix">
		<li>
			<div class="mr">
				<a ng-click="$location.path('/sousuo-single?id=14')" href="">
				<span class="i"><img src="img/i-img335-1.jpg"/></span>
				<span class="o1">图纸查阅</span>
				</a>
			</div>
		</li>
		<li>
			<div class="mr">
				<a ng-click="$location.path('/sousuo-single?id=53')" href="">
				<span class="i"><img src="img/i-img335-2.jpg"/></span>
				<span class="o2">标段信息</span>
				</a>
			</div>
		</li>
		<li>
			<div class="mr">
				<a ng-click="$location.path('/sousuo-single?id=66')" href="">
				<span class="i"><img src="img/i-img335-3.jpg"/></span>
				<span class="o3">视频动画</span>
				</a>
			</div>
		</li>
		<li>
			<div class="mr">
				<a ng-click="$location.path('/sousuo-single?id=65')" href="">
				<span class="i"><img src="img/i-img335-4.jpg"/></span>
				<span class="o4">施工组织设计</span>
				</a>
			</div>
		</li>
	</ul>
	</div>
</section>

<section class="mlr10">
	<a ng-click="redianClick()" href="">
		<span class="title-6">热点议事厅</span>
		<span class="i-block-1 clearfix">
		<img ng-src="{{hotfocus.first.publisherAvatarUrl}}"/>
		<strong>{{hotfocus.first.title|cutTail:false:12:" ..."}}</strong>
		<b>{{hotfocus.first.content|cutTail:false:12:" ..."}}</b>
		<span class="cb"></span>
		<span class="l">{{hotfocus.first.publisherName}}</span><span class="r">{{formatDate(hotfocus.first.createTime)}}</span>
		</span>
	</a>
</section>

<section class="mlr10 mt10">
	<div class="list-10block">
	<ul class="list-10 clearfix">
		<li>
			<div class="mr">
				<a ng-click="$location.path('/sousuo-single?id=67')" href="">
				<span class="i"><img src="img/i-img335-5.jpg"/></span>
				<span class="o1">管理办法</span>
				</a>
			</div>
		</li>
		<li>
			<div class="mr">
				<a ng-click="$location.path('/sousuo-single?id=68')" href="">
				<span class="i"><img src="img/i-img335-6.jpg"/></span>
				<span class="o2">标准规范</span>
				</a>
			</div>
		</li>
	</ul>
	</div>
</section>
<nav>
	<a ng-click="$location.path('/sousuo', true)" href=""><span class="i1"></span>搜索</a>
	<a ng-click="$location.path('/henji', true)" href=""><span class="i2"></span>痕迹</a>
	<a ng-click="$location.path('/', true)" href="" class="on"><span class="i3"></span>首页</a>
	<a ng-click="$location.path('/faxian', true)" href=""><span class="i4"></span>发现</a>
	<a ng-click="$location.path('/wode', true)" href=""><span class="i5">
	<span ng-if="$root.messages.unreadCount > 0" style="background-color:rgba(256,0,0,0.8); border-radius:10px;color:#FFF;width:20px;height:20px;text-align:center;margin-left:15px;margin-bottom:10px;">{{$root.messages.unreadCount}}</span></span>个人</a>
</nav>
<!--pop window-->
<div id="zoomscrollblock">
    <div id="zoomscroll" class="pop_catewindow" onclick="return false;">
        <div class="i-block20151214-6" style="width:300px;height:116px;margin-top:-58px;margin-left:-150px;padding-left:10px;padding-right:10px;">
			<p class="txt-24">发现新版本{{setting.currentVersion}}，点击确认安装</p>
			<div class="line-1"></div>
			<p class="txt-25" style="align:center;position:relative;width:100%;margin-left:25%;"><a href="" ng-click="onInstall()">确定</a></p>
		</div>
    </div>
</div>
</div>