<div class="pb75 pt60 ng-scope">
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<span ng-if="img" class="nochoose" ng-click="saveas(files.filepath)" style="color:#fff;cursor:pointer;">下载</span>
	<p class="title">{{::files.filename}}</p>
</header>
	<section class="mt15 mlr10" ng-if="img">
		<img ng-src="{{::files.filepath}}" title="{{::files.filename}}" style="width:100%;" my-touch-zoom=""/>
	</section>
	<section class="mt15 pdf-page-section" ng-if="pdf">
		<my-pdf src="files.filepath"></my-pdf>
	</section>
	<section class="mt15 mlr10" ng-if="video">
		<my-video src="files.filepath" controls="true" autoplay="true" width="100%"></my-video>
	</section>
</div>