<div class="pb75 pt60 ng-scope">
<header class="bg1">
<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
<p class="title">热点议题</p>
<span class="search"><img src="img/icon-search.png"/></span><span ng-click="$location.path('/rediantianjia')" class="jia"><img src="img/icon-jia.png"/></span><span class="nochoose" style="display:none;cursor:pointer;">取消</span>
</header>
<section class="mlr10 searchblock"><input name="" type="text" ng-model="filterTitle" ng-change="search()"></section>
<section class="mlr10 mt15" my-scroll="load()">
	<ul class="list-6">
		<li class="clearfix" ng-repeat="item in items track by item.id">
		<a ng-click="itemClick(item)" href="">
			<span class="i"><img ng-src="{{::(item.publisherAvatarUrl || 'img/tem-img/img-person.jpg')}}"/></span>
			<span class="r">
			<span class="title">{{::item.title|cutTail:false:10:" ..."}}</span>
			<span class="name">{{::item.publisherName}}</span>
			<span class="time">{{::formatDate(item.createTime)}}<span class="c"><img src="img/i-commend.png"/>{{::item.totalCommentNum}}</span></span>
			</span>
		</a>
		</li>
	</ul>
</section>
</div>

<script type="text/javascript">
$(document).ready(function(){
	searchtool();
})
</script>