
<div class="pb75 pt60 ng-scope">
<header class="bg1">
	<span class="return"><a href="" ng-click="$location.back()"><img src="img/11.png"></a></span>
	<p class="title">现场签认</p>
	<span class="more"><img src="img/icon-more-1.png" style="width:24px;height:20px;"></span>
	<div class="pop-window1">
	<img src="img/icon-jian5.png" class="j"><div class="cb"></div>
	<ul>
		<li ng-show="user.id == trace.current.publisherId"><a href="" ng-click="$location.path('/spotcheck-edit')"><img src="img/icon-edit201512.png"> 编辑</a></li>
		<li ng-show="user.id == trace.current.publisherId"><a href="javascript:void(0)" id="del"><img src="img/icon-del201512.png"> 删除</a></li>
	</ul>
	</div>
</header>
<section class="mlr10 mt15 pb20">
	<p class="title-1">{{trace.current.title}}</p>
</section>
<section>
	<ul class="list-3">
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-1.jpg">构件编码</span><span class="r">{{::trace.current.compId}} </span>
		</li>
		<li class="clearfix">
			<span class="lll"><img src="img/i-xq-2.jpg">构件信息</span>
			<div class="warp">
				<p class="tp"><span>名称：</span>{{trace.current.component.name}}</p>
				<p class="tp"><span>设计：</span>{{trace.current.component.designer}}</p>
				<p class="tp"><span>施工：</span>{{trace.current.component.constructor}}</p>
				<p class="tp"><span>监理：</span>{{trace.current.component.supervisor}}</p>        
			</div>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-13.jpg">签认意见</span><span class="r">{{trace.current.content}}</span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-14.jpg">签认</span><span class="rr">{{trace.current.publisherName}}</span>
			<span class="time">{{::formatDate(trace.current.createTime)}}</span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-5.jpg">相片</span><span class="r pr">
			<a ng-repeat="pic in ::trace.current.picAttachmentList" ng-click="fileClicked('相片', pic.fileUrl)" href="" class="pic"><img ng-src="{{::pic.thumbnailUrl}}" style="width:100%;"/></a></span>
		</li>
	</ul>
</section>

<div id="zoomscrollblock">
    <div id="zoomscroll" class="pop_catewindow">
        <div class="i-block20151214-6">
			<p class="txt-24">确定要删除该问题么？</p>
			<div class="line-1"></div>
			<p class="txt-25"><a ng-click="del()" href="">确定</a><a href="javascript:void(0);">取消</a><span class="line"></span></p>
		</div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$("header .more").click(function(){
		if($(".pop-window1").height()== "0"){
			$(".pop-window1").animate({height:100},300);
		}else{
			$(".pop-window1").animate({height:0},300);
		}
	})
	
	//弹窗弹出状态
	$(".pop-window1 #del").click(function(){
	$("#zoomscroll").addClass("loaded").animate({opacity:1},200);
	$(document.body).addClass("noscroll");
	$(".txt-25 a").click(function(){
		$(".pop-window1").animate({height:0},50);
		$("#zoomscroll").animate({opacity:0},200);
		setTimeout(function(){$('#zoomscroll').removeClass('loaded');$(document.body).removeClass("noscroll");$("#zoom").html("");},400);
	})
	})
})
</script>
</div>
