<div class="pb75 pt60 ng-scope">

<!--header-->

<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p ng-if="isPublishReview == true" class="title">问题发布审核</p>
	<p ng-if="isPublishReview == false" class="title">问题处理审核</p>
	<!-- <span class="txt1" ><a ng-click="submit(false)" href="">拒绝</a></span><span class="nochoose"><a ng-click="submit(true)" href="">通过</a></span> -->
</header>

<section class="mt10 mlr10 bg2 pb75">
<form name="form" novalidate="novalidate">
	<ul class="list-3">
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-12.jpg"/>审核意见</span><span class="r">
			<label for="iHandleDesc" style="color:#aaa;">您还可输入{{remain}}个字符</label>
			<textarea cols="" rows="" class="fromarea" ng-change="contentChanged()" id="iHandleDesc" oninput= "fitTextArea('iHandleDesc')" ng-model="reviewDesc" required ng-maxlength="150" maxlength="150" name="reviewDesc"></textarea>
			<span style="color:red" ng-show="form.reviewDesc.$dirty && form.reviewDesc.$invalid">
			<small ng-show="form.reviewDesc.$error.maxLength">审核意见长度不能超过150</small>
				<small ng-show="form.reviewDesc.$error.required">审核意见不能为空</small>
 			</span>
			</span>
		</li>
		<span><a ng-click="popUpdateWin(false)" href="" class="abtn-agree">拒绝</a></span>
		<span><a ng-click="popUpdateWin(true)" href="" class="abtn-refuse">同意</a></span>
	</ul>
	</form>
</section>


<div class="mtip" style="display:{{tipVisibility}};">{{tipContent}}</div>

<!--pop window-->
<div id="zoomscrollblock">
    <div id="zoomscroll" class="pop_catewindow" onclick="return false;">
        <div class="i-block20151214-6" style="width:90%;height:240px;margin-top:-100px;margin-left:-48%;padding-left:10px;padding-right:10px;text-align: center;">
			<p class="txt-24" ng-if="isAgreeClicked||false">审核通过</p>
			<p class="txt-24" ng-if="!isAgreeClicked||false">审核未通过</p>
			<div style="text-align: center;">
			<textarea ng-model="issueItem.acceptDesc" cols="" rows="6" class="fromarea" style="width:90%; padding: 5px; margin-bottom:5px;"  readonly="true"/>
			</div>
			<div class="line-1"></div>
			<p class="abtn-refuse" id="agreeBtn">确定</p>
			<p class="abtn-agree" id="cancelBtn">取消</p>
		</div>
    </div>
</div>
</div>
