<div class="pb75 pt60 ng-scope">

<!--header-->

<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title">问题详情</p>
	<span class="more"  ng-show="noAnyMenu == false"><img src="img/icon-more-1.png" style="width:24px;height:20px;"/></span>
	<div class="pop-window1">
	<img src="img/icon-jian5.png" class="j"/><div class="cb"></div>
	<ul>
		<li ng-show="hasEditMenu == true"><a href="" ng-click="$location.path('/issue-edit')"><img src="img/icon-edit201512.png"/> 编辑</a></li>
		<li ng-show="hasDeleteMenu == true"><a href="javascript:void(0);" id="del"><img src="img/icon-del201512.png"/> 删除</a></li>
		<li ng-if="hasReviewPublishMenu == true"><a href="" ng-click="$location.path('/issue-review')" ><img src="img/icon-m201512.png"/> 审核</a></li>
		<li ng-show="hasHandleMenu == true"><a href="" ng-click="$location.path('/issue-handle')" ><img src="img/icon-m201512.png"/> 处理</a></li>
		<li ng-if="hasReviewHandleMenu == true"><a href="" ng-click="$location.path('/issue-review')" ><img src="img/icon-m201512.png"/> 审核</a></li>
		<li ng-if="hasAcceptMenu == true"><a href="" ng-click="$location.path('/issue-check')" ><img src="img/icon-m201512.png"/> 验收</a></li>
	</ul>
	</div>
</header>

<section class="mlr10 mt15">
	<p class="title-1">{{issueItem.issueTitle}}
	<span class="z1" ng-if="issueItem.important==3">紧急</span>
	<span class="z2" ng-if="issueItem.important==2">重要</span>
	<span class="z3" ng-if="issueItem.important==1">普通</span></p>
	<p class="title-2 clearfix"><span class="time">{{formatDate(issueItem.publishTime)}}</span><span class="name">创建人：{{issueItem.publisherName}}</span></p>
</section>

<section class="mt10">
	<ul class="list-3">
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-1.jpg"/>问题编号</span><span class="r">{{issueItem.code}}</span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/icon-10.png"/>@到：</span>
			<span class="r">
			<textarea ng-model="issueItem.at" class="fromarea" readonly="true"></textarea></span>
		</li>
		<li class="clearfix"  ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l"><img src="img/i-xq-2.jpg"/>位置</span><span class="r">{{issueItem.location}}</span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-3.jpg"/>问题描述</span>
			<span class="r">
			<textarea ng-model="issueItem.issueDesc" class="fromarea" readonly="true"></textarea></span>
			
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-4.jpg"/>整改要求</span><span class="r">
			<textarea ng-model="issueItem.issueRectification" cols="" rows="" class="fromarea" placeholder="" readonly="true"></textarea></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-5.jpg"/>相片</span><span class="r"><a ng-repeat="itemP in issueItem.issuePicAttachmentList" ng-click="fileClicked('相片', itemP.fileUrl)" href="" class="pic" ng-if="itemP.fileType==Constants.ATTACHMENTTYPE_PICTURE"><img ng-src="{{(itemP.thumbnailUrl || 'img/tem-img/img-100100-1.jpg')}}"/></a></span>
		</li>
		<li class="clearfix"  ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l"><img src="img/i-xq-7.jpg"/>视频</span><span class="r"><a ng-repeat="v in issueItem.issueVideoAttachmentList" ng-click="fileClicked('视频', v.fileUrl)" href="" target="_blank" class="pic"><img ng-src="{{(v.thumbnailUrl || 'img/tem-img/img-100100-1.jpg')}}"/></a></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-6.jpg"/>整改期限</span><span class="r">{{formatDate(issueItem.deadlineTime)}}</span>
		</li>
	</ul>
</section>
<section class="mt10" ng-if="issueItem.issueStatus != Constants.ISSUESTATUS_PUBLISH_WAITING_REVIEW ">
	<ul class="list-4">
		<li class="first clearfix">
			<img ng-src="{{(issueItem.publishReviewerAvatarUrl || 'img/i-xq-person.jpg')}}" class="i-person"/>
			<p class="name">{{issueItem.publishReviewerName}}</p><p class="time">{{formatDate(issueItem.publishReviewTime)}}</p>
			<span ng-show="issueItem.issueStatus!=Constants.ISSUESTATUS_PUBLISH_REVIEW_REFUSED"><b>已审核</b><i><img src="img/i-pass.png"/></i></span>
			<span ng-show="issueItem.issueStatus==Constants.ISSUESTATUS_PUBLISH_REVIEW_REFUSED"> <b style="color:#fe4f4f;">审核未通过</b><i></i></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-11.jpg"/>审核意见</span><span class="r">{{issueItem.publishReviewDesc}}</span>
		</li>
	</ul>
</section>
<span ng-repeat="issueHandle in issueItem.handleProcessList track by issueHandle.id">
<section class="mt10" ng-if="issueHandle.issueStatus >=Constants.ISSUESTATUS_HANDLED || issueHandle.issueStatus == Constants.ISSUESTATUS_REFUSED || issueHandle.issueStatus == Constants.ISSUESTATUS_HANDLED_WAITING_REVIEW || issueHandle.issueStatus == Constants.ISSUESTATUS_HANDLE_REVIEW_REFUSED">
	<ul class="list-4">
		<li class="first clearfix">
			<img ng-src="{{(issueHandle.handlerAvatarUrl || 'img/i-xq-person.jpg')}}" class="i-person"/>
			<p class="name">{{issueHandle.handlerName}}</p><p class="time">{{formatDate(issueHandle.handledTime)}}</p>
			<b >已解决</b>
			<i><img src="img/i-pass.png"/></i>
		</li>
		<li class="clearfix">
			<span class="l1"><img src="img/i-xq-12.jpg"/>整改落实<br/>情况</span><span class="r">{{issueHandle.handleDesc}}</span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-5.jpg"/>相片</span><span class="r"><a ng-repeat="itemH in issueHandle.handlePicList" ng-click="fileClicked('相片', itemH.fileUrl)" href="" class="pic"><img ng-src="{{(itemH.thumbnailUrl||'img/tem-img/img-100100-1.jpg')}}"/></a></span>
		</li>
		<li class="clearfix" ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l"><img src="img/i-xq-7.jpg"/>视频</span><span class="r"><a ng-repeat="v in issueHandle.handleVideoList" ng-click="fileClicked('视频', v.fileUrl)" href="" target="_blank" class="pic"><img ng-src="{{(v.thumbnailUrl || 'img/tem-img/img-100100-1.jpg')}}"/></a></span>
		</li>
		<li class="clearfix" ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l1"><img src="img/i-xq-8.jpg"/>人员教育<br/>情况</span><span class="r">{{issueHandle.lessonDesc}}</span>
		</li>
		<li class="clearfix" ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l1"><img src="img/i-xq-9.jpg"/>同类问题<br/>防治措施</span><span class="r">{{issueHandle.preventionDesc}}</span>
		</li>
		<li class="clearfix" ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l"><img src="img/i-xq-10.jpg"/>隐患类型</span>
			<span class="r">{{issueHandle.issueCategoryRemark}}</span>
		</li>
	</ul>
</section>
<section class="mt10" ng-if="issueHandle.issueStatus == Constants.ISSUESTATUS_HANDLE_REVIEW_REFUSED || issueHandle.issueStatus == Constants.ISSUESTATUS_HANDLED|| issueHandle.issueStatus == Constants.ISSUESTATUS_REFUSED">
	<ul class="list-4">
		<li class="first clearfix">
			<img ng-src="{{(issueHandle.handleReviewerAvatarUrl || 'img/i-xq-person.jpg')}}" class="i-person"/>
			<p class="name">{{issueHandle.handleReviewerName}}</p><p class="time">{{formatDate(issueHandle.handleReviewTime)}}</p>
			<span ng-show="issueHandle.issueStatus==Constants.ISSUESTATUS_HANDLED||issueHandle.issueStatus==Constants.ISSUESTATUS_REFUSED"><b>已审核</b><i><img src="img/i-pass.png"/></i></span>
			<span ng-show="issueHandle.issueStatus==Constants.ISSUESTATUS_HANDLE_REVIEW_REFUSED"> <b style="color:#fe4f4f;">重新处理</b><i></i></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-11.jpg"/>审核意见</span><span class="r">{{issueHandle.handleReviewDesc}}</span>
		</li>
	</ul>
</section>
<section class="mt10" ng-if="issueHandle.issueStatus >= 3 || issueHandle.issueStatus == Constants.ISSUESTATUS_REFUSED">
	<ul class="list-4">
		<li class="first clearfix">
			<img ng-src="{{(issueHandle.accepterAvatarUrl || 'img/i-xq-person.jpg')}}" class="i-person"/>
			<p class="name">{{issueHandle.accepterName}}</p><p class="time">{{formatDate(issueHandle.acceptTime)}}</p>
			<span ng-show="issueHandle.issueStatus==3"><b>已验收</b><i><img src="img/i-pass.png"/></i></span>
			<span ng-show="issueHandle.issueStatus==Constants.ISSUESTATUS_REFUSED"> <b style="color:#fe4f4f;">重新处理</b><i></i></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-11.jpg"/>验收意见</span><span class="r">{{issueHandle.acceptDesc}}</span>
		</li>
	</ul>
</section>

</span>

<section class="mt10 mlr10">
	<div class="clearfix snsblock"><a href="" class="c"><img src="img/i-commend.png"/>{{issueItem.totalCommentNum}} 评论</a>
	<a href="" class="z" ng-click="doLike()">
	<img src="img/i-zan.png" ng-if="!isVote"/>
	<img src="img/i-zanon.png" ng-if="isVote"/><i>点赞</i></a></div>
</section>

<section class="mt20 mlr20 commendblock"  my-scroll="load()">
	<span class="j" ng-if="voteMembers.length > 0 || comments.length > 0"><img src="img/i-jian-1.png"/></span>
	<div ng-if="voteMembers.length > 0"><img src="img/i-zan.png"/><i>{{voteMemberStr}}</i></div>
	<ul class="list-5">
		<li class="clearfix" ng-repeat="c in comments  track by c.id">
			<span class="i"><img ng-src="{{(c.creatorAvatarUrl || 'img/tem-img/img-person.jpg')}}"/></span>
			<div class="r">
			<p class="name">{{c.creatorCName}}</p>
			<p class="txt">{{c.content}}</p>
			<p class="time">{{formatDate(c.createTime)}}</p>
			</div>
		</li>
	</ul>
</section>



<!--commentform-->
<section class="comformblock">
<div class="comformblock1">
	<div class="comform"><input name="" type="text" ng-model="newComment" class="i" placeholder="随便说说什么"/><input name="" type="button" ng-click="save()" class="b"/></div>
</div>
<div class="mtip" style="display:{{tipVisibility}};">{{tipContent}}</div>
</section>
<!--pop window-->
<div id="zoomscrollblock">
    <div id="zoomscroll" class="pop_catewindow">
        <div class="i-block20151214-6">
			<p class="txt-24">确定要删除该问题么？</p>
			<div class="line-1"></div>
			<p class="txt-25"><a ng-click="del()" href="">确定</a><a href="javascript:void(0);">取消</a><span class="line"></span></p>
		</div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	$("header .more").click(function(){
		if($(".pop-window1").height()== "0"){
			$(".pop-window1").animate({height:100},300);
		}else{
			$(".pop-window1").animate({height:0},300);
		}
	})
	$(".snsblock a.z").click(function(){
		if($(this).find("img").attr("src") == "img/i-zan.png"){
			$(this).find("img").attr("src","img/i-zanon.png");
			$(this).find("i").html("已赞");
		}else{
			$(this).find("img").attr("src","img/i-zan.png");
			$(this).find("i").html("点赞");
		}
	})
	
	//弹窗弹出状态
	$(".pop-window1 #del").click(function(){
	$("#zoomscroll").addClass("loaded").animate({opacity:1},200);
	$(document.body).addClass("noscroll");
	$(".txt-25 a").click(function(){
		$(".pop-window1").animate({height:0},50);
		$("#zoomscroll").animate({opacity:0},200);
		setTimeout(function(){$('#zoomscroll').removeClass('loaded');$(document.body).removeClass("noscroll");$("#zoom").html("");},400);
	})
	})
})
</script>


</div>
