<div class="pb75 pt60 ng-scope">
<!--header-->
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	
	<p class="title">编辑问题</p>
	<span class="txt1" ><a ng-click="save()" href=""><span>保存</span></a></span><span class="nochoose"><a ng-click="submit()" href="">提交</a></span>
</header>

<section class="mt10 mlr10 bg2 pb75">
<form name="form" novalidate="novalidate">
	<ul class="list-3">

		<li class="clearfix">
			<span class="l"><img src="img/icon-1.png"/>问题编号</span><span class="r"><input type="text" class="fromtxt" placeholder="系统自动生成" ng-model="newIssue.codeWithSection" readonly="true"/> </span>
		</li>
		
		<li class="clearfix">
			<span class="l"><img src="img/icon-10.png"/>@到：</span>
			<span class="r" style="width:60%;"><my-chosen placeholder="选择人员..." ng-model="newIssue.at" data="user.list" text="name" name="atTo" value="username"></my-chosen>
				<span style="color:red" ng-show="form.atTo.$dirty && form.atTo.$invalid">
					<small ng-show="form.atTo.$error.required">@到不能为空</small>
					</span>
			</span>
		</li>
		
		<li class="clearfix">
			<span class="l" ng-if="newIssue.issueType != Constants.ISSUETYPE_MATERIAL">
			<img src="img/icon-23.png"/>标题</span>
			<span class="l" ng-if="newIssue.issueType == Constants.ISSUETYPE_MATERIAL">
			<img src="img/icon-23.png"/>资料名称</span>
			<span class="r"><input ng-model="newIssue.issueTitle"  type="text" class="fromtxt" placeholder="点此输入" name="title" required="required" ng-maxlength="50" maxlength="50"/><span style="color:red" ng-show="form.title.$dirty && form.title.$invalid">
				<span ng-if="newIssue.issueType != Constants.ISSUETYPE_MATERIAL">
					<small ng-show="form.title.$error.required">标题不能为空</small>
				</span>
				<span ng-if="newIssue.issueType == Constants.ISSUETYPE_MATERIAL"><small ng-show="form.title.$error.required">资料名称不能为空</small></span>
 			</span></span>
		</li>
		
		<li class="clearfix"  ng-if="newIssue.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l"><img src="img/i-xq-2.jpg"/>位置</span>
			<span class="rr"><input ng-model="newIssue.location"  type="text" class="fromtxt" placeholder="点此输入" required="required" name="location" ng-maxlength="50" maxlength="50"/><span style="color:red" ng-show="form.location.$dirty && form.location.$invalid">
			<small ng-show="form.location.$error.maxLength">位置长度不能超过50</small>
				<small ng-show="form.location.$error.required">位置不能为空</small>
 			</span></span>
			<span class="ll"><a href="" ng-click="onscan()"><img src="img/scan.png"></a></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-3.jpg"/>问题描述</span>
			<span class="r"><label for="issueDesc" ng-model="issueDescTip"  style="color:#aaa;">您还可输入{{remain}}个字符</label>
			<textarea ng-model="newIssue.issueDesc" id="issueDesc" oninput= "fitTextArea('issueDesc')" cols="" rows="" name="issueDesc" class="fromarea" ng-change="changed()" placeholder="点此输入" required="required"  ng-maxlength="150" maxlength="150">
			</textarea><span style="color:red" ng-show="form.issueDesc.$dirty && form.issueDesc.$invalid">
			<small ng-show="form.issueDesc.$error.maxLength">问题描述长度不能超过50</small>
				<small ng-show="form.issueDesc.$error.required">问题描述不能为空</small>
 			</span></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-4.jpg"/>整改要求</span><span class="r">
			<label for="issueRectification" ng-model="issueRectifyTip" style="color:#aaa;">您还可输入{{remain1}}个字符</label>
			<textarea ng-model="newIssue.issueRectification" id="issueRectification" oninput= "fitTextArea('issueRectification')" class="fromarea" ng-change="changed()" placeholder="点此输入" required="required" name="issueRect" maxlength="150"></textarea>
			<span style="color:red" ng-show="form.issueRect.$dirty && form.issueRect.$invalid">
			<small ng-show="form.issueRect.$error.maxLength">整改要求长度不能超过150</small>
				<small ng-show="form.issueRect.$error.required">整改要求不能为空</small>
 			</span></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-5.jpg"/>相片</span><span class="r pr"><span ng-repeat="pic in newIssue.issuePicAttachmentList" class="pic" style="margin-right:5px;">
			<img ng-src="{{pic.thumbnailUrl}}" style="width:100%; vertical-align:bottom;margin-bottom:0;" my-touch-remove="removeImage(pic.fileUrl)"/></span>
			<my-media-selector src="img/i-jia.jpg" class="pic" type="img" change="imageChanged($uri)"></my-media-selector></span>
		</li>
		<li class="clearfix" ng-if="newIssue.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l"><img src="img/i-xq-7.jpg"/>视频</span><span class="r pr"><span ng-repeat="vid in newIssue.issueVideoAttachmentList" class="vid" style="margin-right:5px;">
			<my-video src="vid.thumbnailUrl" width="50px" height="50px" margin-top="5px" my-touch-remove="removeVideo(vid.fileUrl)"></my-video></span>
			<my-media-selector src="img/i-jia.jpg" class="pic" type="video" change="videoChanged($uri)"></my-media-selector></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/icon-24.png"/>整改期限</span>
			<span class="r">
			<my-datetime-picker ng-model="newIssue.deadlineTime"></my-datetime-picker>
			</span>
		</li>
	</ul>
	</form>
	<div class="ztblock">
	<span class="jj on" ng-click="choiceImportant(Constants.ISSUE_IMPORTANT_3)" ng-if="newIssue.important==Constants.ISSUE_IMPORTANT_3">紧急</span>
	<span class="jj" ng-click="choiceImportant(Constants.ISSUE_IMPORTANT_3)" ng-if="newIssue.important!=Constants.ISSUE_IMPORTANT_3">紧急</span>
	<span class="zy on" ng-click="choiceImportant(Constants.ISSUE_IMPORTANT_2)" ng-if="newIssue.important==Constants.ISSUE_IMPORTANT_2">重要</span>
	<span class="zy" ng-click="choiceImportant(Constants.ISSUE_IMPORTANT_2)" ng-if="newIssue.important!=Constants.ISSUE_IMPORTANT_2">重要</span>
	<span class="pt on" ng-click="choiceImportant(Constants.ISSUE_IMPORTANT_1)" ng-if="newIssue.important==Constants.ISSUE_IMPORTANT_1">普通</span>
	<span class="pt" ng-click="choiceImportant(Constants.ISSUE_IMPORTANT_1)" ng-if="newIssue.important!=Constants.ISSUE_IMPORTANT_1">普通</span>
	</div>
</section>
<div class="mtip" style="display:{{tipVisibility}};">提交成功！</div>

<script type="text/javascript">
$(document).ready(function(){
	$(".ztblock span").click(function(){
		$(".ztblock span").removeClass("on");
		$(this).addClass("on");
	})
})
</script>
</div>
