<div class="pb75 pt60 ng-scope">

<!--header-->

<header class="bg1" style="position:{{myHeaderPosition}}}">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title">处理</p>
	<span class="txt1" ><a ng-click="save()" href=""><span style="display:none">保存</span></a></span><span class="nochoose"><a ng-click="submit()" href="">提交</a></span>
</header>

<section class="mt10 mlr10 bg2 pb75">
<form name="form">
	<ul class="list-3 list-3-1">
		<li class="clearfix">
			<span class="l l1"><img src="img/i-xq-12.jpg"/>整改落实<br/>情况</span><span class="r r1">
			<label for="iHandleDesc" style="color:#aaa;">您还可输入{{remain}}个字符</label>
			<textarea cols="" rows="" class="fromarea" ng-change="contentChanged(0)" id="iHandleDesc" ng-model="issueItem.handleDesc" placeholder="点此输入" required ng-maxlength="150" maxlength="150"></textarea>
			</span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-5.jpg"/>相片</span><span class="r pr"><span ng-repeat="pic in issueItem.handlePicList" class="pic" style="margin-right:5px;"><img ng-src="{{pic.thumbnailUrl}}" style="width:100%;"/></span><img src="img/i-jia.jpg" class="pic"/><input type="file" accept="image/*" class="file" onchange="angular.element(this).scope().imgChanged(this)"/></span>
		</li>
		<li class="clearfix" ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l"><img src="img/i-xq-7.jpg"/>视频</span><span class="r pr"><span ng-repeat="vid in issueItem.handleVideoList" class="vid" style="margin-right:5px;"><my-video src="vid.thumbnailUrl" height="50px"></my-video></span><img src="img/i-jia.jpg" class="pic"/><input type="file" accept="video/*" class="file" onchange="angular.element(this).scope().videoChanged(this)"/></span>
		</li>
		<li class="clearfix" ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l l1"><img src="img/i-xq-8.jpg"/>人员教育<br/>情况</span>
			<span class="r r1">
			<label for="iLessonDesc" style="color:#aaa;">您还可输入{{remain1}}个字符</label>
			<textarea cols="" rows="" class="fromarea"  ng-change="contentChanged(1)" id="iLessonDesc" ng-model="issueItem.lessonDesc" placeholder="点此输入" required ng-maxlength="150" maxlength="150"></textarea>
			</span>
		</li>

		<li class="clearfix" ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l l1"><img src="img/i-xq-9.jpg"/>同类问题<br/>防治措施</span>
			<span class="r r1">
			<label for="iPreventionDesc" style="color:#aaa;">您还可输入{{remain2}}个字符</label>
			<textarea ng-model="issueItem.preventionDesc" id="iPreventionDesc" cols="" rows="" class="fromarea" placeholder="" ng-change="contentChanged(2)" placeholder="点此输入" required ng-maxlength="150" maxlength="150"></textarea></span>
		</li>
		<li class="clearfix" ng-if="issueItem.issueType != Constants.ISSUETYPE_MATERIAL">
			<span class="l"><img src="img/i-xq-10.jpg"/>隐患类型</span><span class="r">
			<select ng-model="issueItem.issueCategory" ng-if="issueItem.issueType ==1" ng-change="selectAction()"  ng-options="cat.id as cat.name for cat in issueCats"></select>
			<select ng-model="issueItem.issueCategory" ng-if="issueItem.issueType == 2"  ng-change="selectAction()"  ng-options="cat.id as cat.name for cat in issueCatsSafe"></select>
			<span class="r" ng-if="issueItem.issueCategory==4" ><input ng-model="issueItem.issueCategoryRemark" type="text" class="fromtxt" placeholder="请输入其他隐患类型" placeholder="点此输入" maxlength="15" required/></span>
			</span>
			  
		</li>
	</ul>
	</form>
</section>


<div class="mtip" style="display:{{tipVisibility}};">{{tipContent}}</div>

</div>
