<div class="pt60">
	<header class="bg1">
		<span class="return"><a ng-click="$location.back()" href=""><img
				src="img/11.png" /></a></span> <span class="search"
			ng-show="issueStatistics.searchIcon"
			ng-click="issueStatistics.show(true,'.mydateblock')"><img
			src="img/icon-search.png" /></span> <span ng-show="issueStatistics.nochoose"><span
			class="txt1"><a href="" ng-click="go(true)">检索 </a></span><span
			class="nochoose"><a href=""
				ng-click="issueStatistics.show(false,'.mydateblock')">取消</a></span></span>
		<p class="title">{{::title}}</p>
	</header>
	<section class="mlr10 mydateblock">
		<ul class="list-4">
			<li class="clearfix"><span class="l">起始月份：</span> <span
				class="r"><my-month-picker
						ng-model="issueStatistics.startTime"></my-month-picker></span></li>
			<li class="clearfix"><span class="l">终止月份：</span> <span
				class="r"><my-month-picker ng-model="issueStatistics.endTime"></my-month-picker></span>
			</li>
		</ul>
	</section>
	<my-column-chart class="mlr10" model="chart_1"></my-column-chart>
	<my-column-chart class="mlr10" model="chart_2"></my-column-chart>
	<my-column-chart class="mlr10" model="chart_3"></my-column-chart>
	<my-column-chart class="mlr10" model="chart_4"></my-column-chart>
	<my-column-chart class="mlr10" model="chart_5"></my-column-chart>
	<my-column-chart class="mlr10" model="chart_6"></my-column-chart>
	<my-column-chart class="mlr10" model="chart_7"></my-column-chart>
	<my-column-chart class="mlr10" model="chart_8"></my-column-chart>
	<my-column-chart class="mlr10" model="chart_99"></my-column-chart>
</div>