
<div class="pb75 pt60 ng-scope">

<!--header-->
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title" ng-if="issues.currentIssueType == Constants.ISSUETYPE_SECURITY">安全问题</p>
	<p class="title" ng-if="issues.currentIssueType == Constants.ISSUETYPE_QUALITY">质量问题</p>
	<p class="title" ng-if="issues.currentIssueType == Constants.ISSUETYPE_MATERIAL">资料</p>
</header>

<section class="mt15">
	<ul class="list-1">
		<li ng-repeat="item in sect.data"><a ng-click="sectClick(item.id)" href="" ><i><img src="img/icon-12.png"/></i>{{::item.sectionName}}</a>
		<em ng-show="item.openedIssueNum > 0">{{::item.openedIssueNum}}</em></li>
	</ul>
</section>

</div>
