
<div class="pb75 pt60 ng-scope">
<!--header-->
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span>
	<p class="title" ng-if="issues.currentIssueType == Constants.ISSUETYPE_SECURITY">安全问题</p>
	<p class="title" ng-if="issues.currentIssueType == Constants.ISSUETYPE_QUALITY">质量问题</p>
	<span class="search"><img src="img/icon-search.png"/></span>
	<a ng-click="$location.path('/issue-create')" href=""><span class="jia"><img src="img/icon-jia.png"/></span></a><span class="nochoose" style="display:none;">取消</span>
</header>
<section class="mlr10 searchblock"><input name="" type="text" ng-model="filterTitle" ng-change="search()"/></section>

<ul class="mlr10 tabnav1 clearfix">
	<li><div class="none"><a ng-click="filterClick(0)" href=""  class="on">全部</a></div></li>
	<li><div><a ng-click="filterClick(1)" href="">业主</a></div></li>
	<li><div><a ng-click="filterClick(2)" href="">监理</a></div></li>
</ul>
<section class="mt15" my-scroll="load()">
	<ul class="list-2">
		<li ng-repeat="item in items track by item.id">
			<a ng-click="issueClick(item)" href="">
			<span class="clearfix">
				<i>
				<img ng-src="{{::(item.publisherAvatarUrl || 'img/tem-img/img-100100.jpg')}}"/>
				<span class="z3" ng-show="item.important==1">普通</span>
				<span class="z2" ng-show="item.important==2">重要</span>
				<span class="z1" ng-show="item.important==3">紧急</span>
				</i>
{{::item.issueTitle|cutTail:false:10:" ..."}}
			<strong class="no" ng-show="item.issueStatus== {{::Constants.ISSUESTATUS_PUBLISHED}}">{{::item.issueStatusDescStr}}</strong>
				<strong class="yes" ng-show="item.issueStatus ==Constants.ISSUESTATUS_HANDLED">已处理，待验收</strong>
				<strong class="pass" ng-show="item.issueStatus >= Constants.ISSUESTATUS_ACCEPTED">已解决</strong>
				<span class="txt">{{::item.issueDesc|cutTail:false:10:" ..."}}</span>
			</span>
			<span class="mt3 clearfix">
				<span class="name">创建人：{{::item.publisherName|cutTail:false:5:" ..."}}</span>
				<span class="commend"><img src="img/i-commend.png"/>{{::item.totalCommentNum}}</span>
				<span class="time">{{::formatDate(item.publishTime)}}</span>
			</span>
			</a>
		</li>
		
	</ul>
</section>

<script type="text/javascript">
$(document).ready(function(){
	searchtool();
	$(".tabnav1 li a").click(function(){
		$(".tabnav1 li a").removeClass("on");
		$(this).addClass("on");
		$(".loading").fadeIn();
		setTimeout(function(){$(".loading").fadeOut();},3000);		//切换数据，loading显示，完成消失
	})
})
</script>

</div>
