<div class="pb75 pt60 ng-scope">
<header class="bg1"><span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"/></a></span><p class="title">注册</p></header>
<section class="mt10 mlr10 pb20 bg2">
<form name="form">
<ul class="list-3">
<li class="clearfix"><span class="l"><img src="img/icon-23.png"/>账户<span class="red">*</span></span>
<span class="r"><input ng-model="user.username" name="username" type="text" maxlength="5" required="required" class="fromtxt clearfix" 
 title="仅支持2-5位中文"	placeholder="请输入真实姓名注册" pattern="^[\u4E00-\u9FA5][\u4E00-\u9FA5]+$" /></span>
</li>
<li class="clearfix"><span class="l"><img src="img/icon-24.png"/>密码<span class="red">*</span></span><span class="r"><input ng-model="user.password" type="password" maxlength="6" id="password0" required="required" class="fromtxt"  placeholder="请输入六位密码" pattern="[A-z0-9]{6}" ng-change="onChange('password0')"/></span></li>
<li class="clearfix"><span class="l"><img src="img/icon-24.png"/>密码<span class="red">*</span></span><span class="r"><input ng-model="password0" type="password" maxlength="6" id="password1" required="required" pattern="[A-z0-9]{6}" class="fromtxt"  placeholder="请再次输入密码" ng-change="onChange('password1')"/></span></li>
<li class="clearfix"><span class="l"><img src="img/icon-24.png"/>手机</span><span class="r"><input ng-model="user.mobile" type="tel" maxlength="11" class="fromtxt" placeholder="请输入正确手机号码" pattern="(\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$"/></span></li>
<li class="clearfix"><span class="l"><img src="img/icon-24.png"/>邮件</span><span class="r"><input ng-model="user.email" type="email" class="fromtxt" placeholder="请输入正确邮件地址" /></span></li>
<li class="clearfix"><span class="l"><img src="img/icon-24.png"/>姓名<span class="red">*</span></span><span class="r">
	<input ng-model="user.name" type="text" maxlength="10" required="required" class="fromtxt" pattern="^[\u4E00-\u9FA5][\u4E00-\u9FA5]+$" placeholder="请输入真实姓名"/></span></li>
<li class="clearfix"><span class="l"><img src="img/icon-24.png"/>性别</span><span class="r"><input ng-model="user.gender" type="radio" value="1"/>男&nbsp;&nbsp;&nbsp;&nbsp;<input ng-model="gender" type="radio" value="0"/>女</span></li>
<li class="clearfix"><span class="l"><img src="img/icon-24.png"/>单位</span><span class="r"><select class="fromselect" ng-model="user.department" ng-options="item as item.name for item in departments"></select></span></li>
<li class="clearfix"><span class="l"><img src="img/icon-24.png"/>职务</span><span class="r"><input ng-model="user.dutyTitle" type="text" maxlength="10" class="fromtxt" placeholder="职务不超过10个字符"/></span></li>
</ul>
</form>
<a ng-click="register()" href="" class="abtn-login">提交</a>
</section>
<div class="mtip" style="display:{{tipVisibility}};">提交成功！</div>
</div>