<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Cache-Control" content="no-transform " />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="shortcut icon" href="favicon.ico">
<title>桥梁ios</title>
<link href="img/c.css" rel="stylesheet" type="text/css">
</head>

<body class="pt60">
<!--header-->
<header class="bg1">
	<span class="return"><a href="javascript:history.go(-1);"><img src="img/11.png"></a></span>
	<p class="title">成长过程</p>
	<span class="txt1"><a href="#.html">保存</a></span><span class="nochoose"><a href="#.html">提交</a></span>
</header>
<section class="mt10">
	<ul class="list-3">
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-14.jpg">标题</span><span class="r"><textarea name="" cols="" rows="" class="fromarea" placeholder="您还可以输入150个字符"></textarea></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-1.jpg">构件编码</span><span class="rr">comp_xxxx_120</span><span class="ll"><a href="#.html"><img src="img/scan.png"></a></span>
		</li>
		<li class="clearfix">
			<span class="t"><img src="img/i-xq-2.jpg">构建信息</span>
            <p class="tp"><span>名称：</span>comp_xxxx_120 name</p>
            <p class="tp"><span>设计：</span>北京交科勘察设计研究院有限公司</p>
            <p class="tp"><span>施工：</span>中交第二公路工程局有限公司</p>
            <p class="tp"><span>监理：</span>中铁武汉大桥工程咨询监理有限公司</p>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-3.jpg">工序</span><span class="r"><textarea name="" cols="" rows="" class="fromarea" placeholder="您还可以输入150个字符"></textarea></span>
		</li>
		<li class="clearfix">
			<span class="l"><img src="img/i-xq-5.jpg">相片</span><span class="r pr"><img src="img/i-jia.jpg" class="pic"/><input type="file" class="file"/></span>
		</li>
	</ul>
</section>

</body>
</html>
