<div class="pt60">
<header class="bg1">
	<span class="return"><a ng-click="$location.back()" href=""><img src="img/11.png"></a></span>
	<p class="title">痕迹上传</p>
</header>
<section>
	<ul class="list3-2015-1-11">
    	<li ng-repeat="t in list">
        	<a href="#.html" class="pic"><img ng-src="{{t.attachments[0].thumbnailUrl}}"><p class="title">{{title(t.traceType)}}全景照片</p></a>
        </li>
        <li>
        	<a href="#.html" class="pic"><img src="img/tem-img/img-430457-1.jpg"><p class="title">主要设备</p></a>
        </li>
        <li>
        	<a href="#.html" class="pic"><img src="img/tem-img/img-430457-1.jpg"><p class="title">工艺与技术</p></a>
        </li>
        <li>
        	<a href="#.html" class="pic"><img src="img/tem-img/img-430457-1.jpg"><p class="title">标准化建设</p></a>
        </li>
        <li>
        	<a href="#.html" class="pic"><img src="img/tem-img/img-430457-1.jpg"><p class="title">专题会议</p></a>
        </li>
        <li>
        	<a href="#.html" class="pic"><img src="img/tem-img/img-430457-1.jpg"><p class="title">任务风采</p></a>
        </li>
		<li>
        	<a href="#.html" class="pic"><img src="img/tem-img/img-430457-1.jpg"><p class="title">其它</p></a>
        </li>
    </ul>
</section>
</div>