<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Cache-Control" content="no-transform " />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="shortcut icon" href="favicon.ico">
<title>桥梁ios</title>
<link href="img/c.css" rel="stylesheet" type="text/css">
</head>

<body class="pt60">
<!--header-->
<header class="bg1">
	<span class="return"><a href="javascript:history.go(-1);"><img src="img/11.png"></a></span>
	<p class="title">人物风采</p>
	<span class="search"><img src="img/icon-search.png"></span><span class="jia"><img src="img/icon-jia.png"></span><span class="nochoose" style="display:none;">取消</span>
</header>
<section class="searchblock"><input name="" type="text"></section>

<section class="mlr10 mt15">
	<ul class="list-2015-1-11">
		<li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
        <li class="clearfix">
            <a href="#.html">
                <span class="i"><img src="img/tem-img/img-100100-2.jpg"></span>
                <span class="r">
                    <span class="txt">啊啊啊。</span>
                </span>
                <span class="time">九天前 2015-11-12 <span class="name">Xgirl</span></span>
            </a>
        </li>
    </ul>
</section>

</body>
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/effect.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	searchtool();
	$(".snsblock a.z").click(function(){
		if($(this).find("img").attr("src") == "img/i-zan.png"){
			$(this).find("img").attr("src","img/i-zanon.png");
			$(this).find("i").html("已赞");
		}else{
			$(this).find("img").attr("src","img/i-zan.png");
			$(this).find("i").html("点赞");
		}
	})
	
})
</script>

</html>
